package-consumer/node_modules
./package-consumer/node_modules
/package-consumer/node_modules
packaged_app/node_modules
packaged_app/dist
packaged_app/dist/*
./packaged_app/node_modules
/packaged_app/node_modules
